*{
   background-color: #5B0909;
}
#container{
   box-sizing: border-box;
}
#logo{
   font-size: 3rem;
   text-align: center;
}
#navBar{
   display:flex;
   flex-direction: row;
   justify-content: center;
}
.navTabs{
   font-size: 1.5rem;
   margin-right: 3rem;
}
#footerContent{
   display:flex;
   flex-direction: row;
   justify-content: center;
}